@using Microsoft.AspNetCore.Authorization
@using AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Danh sách Chức năng";
}
@section Styles{
    <link href="~/lib/jQuery-EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jQuery-EasyUI/themes/icon.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/lib/jQuery-EasyUI/jquery.easyui.min.js"></script>
    <script src="~/app/controllers/function/index.js" asp-append-version="true"></script>
    <script>
        var js = new jsController();
        js.initialize();
    </script>
}
<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
        <h3>Chức năng</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
        @if ((await AuthorizationService.AuthorizeAsync(User, "FUNCTION", Operations.Create)).Succeeded)
        {
            @*<button class="btn btn-success" id="btn-create" type="button">Tạo mới</button>*@
            <a href="/admin/function/create" class="btn btn-info"><i class="fa fa-plus"></i><span class="hidden-xs"> Thêm mới </span></a>
        }
    </div>
</div>



<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <ul id="tree-list"></ul>
                <div id="context-menu" class="easyui-menu" style="width:120px;">
                    @if ((await AuthorizationService.AuthorizeAsync(User, "FUNCTION", Operations.Update)).Succeeded)
                    {
                        <div id="btn-edit" data-options="iconCls:'icon-edit'">Sửa</div>
                        @*<a class="btn btn-xs btn-edit" data-id="{{Id}}" href="update?id={{Id}}" data-options="iconCls:'icon-edit'"><i class="fa fa-pencil"></i></a>*@
                    }
                    @if ((await AuthorizationService.AuthorizeAsync(User, "FUNCTION", Operations.Delete)).Succeeded)
                    {
                        <div id="btn-delete" data-options="iconCls:'icon-remove'">Xoá</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>