<div id="modal-add-edit" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Thêm/sửa màu</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">

                    <form class="form-horizontal" role="form" id="frmMaintainance">
                        <div class="form-group">
                            <input type="hidden" id="hidColorId" />
                            <label for="txtName" class="col-sm-2 control-label no-padding-right">Tên màu*</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtName" class="form-control" id="txtName">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtEnglishName" class="col-sm-2 control-label no-padding-right">Tên màu tiếng Anh</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtEnglishName" class="form-control" id="txtEnglishName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtSortOrder" class="col-sm-2 control-label no-padding-right">Thứ tự*</label>
                            <div class="col-sm-10">
                                <input type="number" name="txtSortOrder" class="form-control" id="txtSortOrder">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="MetaTitle" class="col-sm-2 control-label no-padding-right">Tiêu đề (Meta Title SEO)*</label>
                            <div class="col-sm-10">
                                <input type="text" name="MetaTitle" class="form-control" id="MetaTitle" placeholder="Meta Title (SEO)">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="MetaKeywords" class="col-sm-2 control-label no-padding-right">Từ khóa (Meta Keywords SEO)*</label>
                            <div class="col-sm-10">
                                <input type="text" name="MetaKeywords" class="form-control" id="MetaKeywords" placeholder="Meta Keywords (SEO)">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="MetaDescription" class="col-sm-2 control-label no-padding-right">Mô tả (Meta Description SEO)*</label>
                            <div class="col-sm-10">
                                <textarea rows="3" name="MetaDescription" class="form-control" id="MetaDescription" placeholder="Meta Description (SEO)"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtUrl" class="col-sm-2 control-label no-padding-right">Url</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtUrl" class="form-control" id="txtUrl" readonly>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ckStatus" class="col-sm-2 control-label no-padding-right">Hoạt động</label>
                            <div class="col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked="checked" name="ckStatus" id="ckStatus">
                                        <span class="text">Kích hoạt</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtCode" class="col-sm-2 control-label no-padding-right">Mã màu</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtCode" class="form-control" id="txtCode">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btn-save" class="btn btn-success">Lưu lại</button>
                                <button type="button" id="btn-cancel" data-dismiss="modal" class="btn btn-danger">Hủy bỏ</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>