@using Microsoft.AspNetCore.Identity
@using RicoCore.Models
@using RicoCore.Extensions
@using RicoCore.Data.Entities.System;

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<div id="modal-change-password" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Đổi mật khẩu</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmChangePassword">
                        <div class="form-group">
                            <input type="hidden" id="hidIdPassword" value="@User.GetSpecificClaim("UserId")" />
                            <input type="hidden" id="hidUserName" value="@User.GetSpecificClaim("UserName")" />                           
                            <label for="txtPassword" class="col-sm-2 control-label no-padding-right">Mật khẩu</label>
                            <div class="col-sm-10">
                                <input type="password" name="txtPassword" class="form-control" id="txtPassword" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtConfirmPassword" class="col-sm-2 control-label no-padding-right">Xác nhận mật khẩu</label>
                            <div class="col-sm-10">
                                <input type="password" name="txtConfirmPassword" class="form-control" id="txtConfirmPassword" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnSaveChangePassword" class="btn btn-blue">Lưu lại</button>
                                <button type="button" id="btnCancelPassword" data-dismiss="modal" class="btn btn-default">Hủy bỏ</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
