<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="input-group">
            <input type="text" id="txtSearch" class="form-control" placeholder="Tìm kiếm...">
            <span class="input-group-btn">
                <button class="btn btn-default btn-search" type="button">Tìm!</button>
            </span>
        </div>
    </div>
</div>

@*<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
    <div class="input-group">
        <input type="text" id="txtSearch" class="form-control" placeholder="Tìm kiếm...">
        <span class="input-group-btn">
            <button class="btn btn-default" id="btn-search" type="button">Tìm!</button>
        </span>
    </div>
</div>*@