<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <a class="btn btn-info" href="javascript:void(0);" onclick="window.history.go(-1);"><i class="fa fa-backward"></i>&nbsp;Trở lại</a>
        <button type="button" name="recover-soft-deleted" class="btn blue recover-soft-deleted">
            <i class="fa fa-trash-o"></i> Phục hồi nhiều
        </button>

        <button type="button" name="delete-selected" class="btn red delete-selected">
            <i class="fa fa-trash-o"></i> Xóa vĩnh viễn nhiều
        </button>

    </div>
</div>