@using Microsoft.AspNetCore.Identity
@using RicoCore.Models
@using RicoCore.Extensions
@using RicoCore.Data.Entities.System;

@inject IViewLocalizer Localizer
@*@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager*@

<header>
    <div class="header-container">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <!-- Header Language -->
                    <div class="col-xs-12 col-sm-6">
                        <div class="welcome-msg">Xin chào quý khách! </div>
                        @*<div class="dropdown jtv-language-box">
                            @await Html.PartialAsync("_SelectLanguagePartial")
                            <a role="button" data-toggle="dropdown" data-target="javascript:;" class="block-language dropdown-toggle" href="javascript:;"> <img src="/client-side/images/flag-english.jpg" alt="language"> English <span class="caret"></span> </a>
                            <ul class="dropdown-menu" role="menu">
                                <li> <a class="selected" href="javascript:;"> <img src="/client-side/images/flag-english.jpg" alt="flag"> <span>English</span> </a> </li>
                                <li> <a href="javascript:;"> <img src="/client-side/images/flag-default.jpg" alt="flag"> <span>French</span> </a> </li>
                                <li> <a href="javascript:;"> <img src="/client-side/images/flag-german.jpg" alt="flag"> <span>German</span> </a> </li>
                                <li> <a href="javascript:;"> <img src="/client-side/images/flag-brazil.jpg" alt="flag"> <span>Brazil</span> </a> </li>
                                <li> <a href="javascript:;"> <img src="/client-side/images/flag-chile.jpg" alt="flag"> <span>Chile</span> </a> </li>
                                <li> <a href="javascript:;"> <img src="/client-side/images/flag-spain.jpg" alt="flag"> <span>Spain</span> </a> </li>
                            </ul>
                        </div>*@
                        <!-- End Header Language -->

                        <!-- Header Currency -->
                        @*<div class="dropdown jtv-currency-box">
                            <a role="button" data-toggle="dropdown" data-target="javascript:;" class="block-currency dropdown-toggle" href="javascript:;"> USD <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="javascript:;"> $ - Dollar </a> </li>
                                <li><a href="javascript:;"> £ - Pound </a> </li>
                                <li><a href="javascript:;"> € - Euro </a> </li>
                            </ul>
                        </div>*@
                        <!-- End Header Currency -->

                    </div>
                    <div class="col-xs-6 hidden-xs">
                        <!-- Header Top Links -->
                        <div class="jtv-top-links">
                            <div class="links">
                                <ul>
                                    @*<li><a href="/dat-hang"> @Localizer["Checkout"] </a> </li>
                                    <li>
                                        <div class="dropdown block-company-wrapper hidden-xs">
                                            <a role="button" data-toggle="dropdown" data-target="javascript:;" class="block-company dropdown-toggle" href="javascript:;"> Khác <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="/"> Về chúng tôi </a> </li>
                                                <li><a href="javascript:;"> Dịch vụ khách hàng </a> </li>
                                                <li><a href="javascript:;"> Điều khoản </a> </li>
                                                <li><a href="/">Site Map </a> </li>
                                            </ul>
                                        </div>
                                    </li>*@
                                    @*@if (User.Identity.IsAuthenticated)
                                    {
                                        <li>
                                            <div class="dropdown block-company-wrapper hidden-xs">
                                                <a role="button" data-toggle="dropdown" data-target="javascript:;" class="block-company dropdown-toggle" href="javascript:;"><span>@User.GetSpecificClaim("FullName")</span> <i class="fa fa-angle-down"></i></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="/account.html">Tài khoản</a></li>
                                                    <li><a href="/wishlist.html">Wishlist</a></li>
                                                    <li><a href="/orders-list.html">Order Tracking</a></li>
                                                    <li>
                                                        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                                                            <a href="javascript:;" onclick="document.getElementById('logoutForm').submit()"><span>Thoát</span></a>
                                                        </form>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>

                                    }
                                    else
                                    {
                                        <li> <a href="/dang-nhap"><span class="hidden-xs">Đăng nhập</span></a> </li>
                                        <li> <a href="/dang-ky"><span class="hidden-xs">Đăng ký</span></a> </li>
                                    }*@
                                    @*<li> <a title="My Account" href="account_page.html"><span class="hidden-xs">Tài khoản của tôi</span></a> </li>
        <li> <a title="Wishlist" href="wishlist.html">Wishlist</a> </li>
        <li> <a title="Checkout" href="checkout.html"><span class="hidden-xs">Checkout</span></a> </li>*@
                                </ul>
                            </div>
                        </div>
                        <!-- End Header Top Links -->
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <div class="jtv-top-cart-box">
                        <!-- Top Cart -->
                       <vc:header-cart></vc:header-cart>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12 jtv-logo-box">

                    <!-- Header Logo -->
                    <div class="logo"> <a title="eCommerce" href="/">
                        <img alt="Rèm cửa Đức Trung Logo" src="~/images/Logo.png">                        
                          </a> 
                    </div>


                    <!-- End Header Logo -->
                </div>

                @*<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 hidden-xs">
                    <div class="search-box">
                        <form action="/tim-kiem" method="get" id="search_mini_form" name="Categories">
                            <input type="text" placeholder="Tìm kiếm sản phẩm..." maxlength="70" name="tukhoa" id="search">
                            <button type="submit" class="search-btn-bg"><span class="glyphicon glyphicon-search"></span>&nbsp;</button>
                        </form>
                    </div>
                </div>*@
            </div>
        </div>

    </div>
</header>