 <!-- Banner Text Block -->
<div class="text-widget widget widget__sidebar">
    <h3 class="widget-title"><span>Text Widget</span></h3>
    <div class="widget-content">
        Mauris at blandit erat. Nam vel tortor non quam scelerisque cursus. Praesent nunc vitae magna pellentesque auctor. Quisque id lectus.<br>
        <br>
        Massa, eget eleifend tellus. Proin nec ante leo ssim nunc sit amet velit malesuada pharetra. Nulla neque sapien, sollicitudin non ornare quis, malesuada.
    </div>
</div>