@using Microsoft.AspNetCore.Authorization
@using AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Danh sách Contact";
}
@section Styles{
    <link href="~/lib/jquery-treegrid/css/jquery.treegrid.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/lib/jquery-treegrid/js/jquery.treegrid.js"></script>
    <script src="~/app/controllers/contact/index.js" asp-append-version="true"></script>
    <script>
        var colorObj = new colorController();
        colorObj.initialize();
    </script>
}

@*<input type="hidden" id="hid-category-id" value="0" />*@
<div class="page-title">
    <div class="title_left">
        <h3>Thông tin liên hệ</h3>
    </div>
    @*<input type="hidden" id="selectedIds" name="selectedIds" value="" />*@
    <div class="title_right">
        @*<div class="col-md-2 col-sm-2 col-xs-12 form-group pull-right top_search">
            <button class="btn btn-danger" id="btnDeleteAll" type="button">Xóa nhiều</button>
        </div>*@
        <div class="col-md-2 col-sm-2 col-xs-12 form-group pull-right top_search">
            @{
                var result = await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Create);
            }
            @if (result.Succeeded)
            {
                <button class="btn btn-success" id="btn-create" type="button">Tạo mới</button>
            }
            @if ((await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Delete)).Succeeded)
            {
                <button type="button" name="delete-selected" id="delete-selected" class="btn red">
                    <i class="fa fa-trash-o"></i> Xóa nhiều
                </button>
            }
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <input type="text" id="txtSearch" class="form-control" placeholder="Tìm kiếm...">
                <span class="input-group-btn">
                    <button class="btn btn-default" id="btn-search" type="button">Tìm!</button>
                </span>
            </div>

        </div>
       
    </div>
</div>

<div class="clearfix"></div>
@if ((await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Read)).Succeeded)
{
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <table id="tbl-role" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="2.5%" class="align_center"><input id='mastercheckbox' type='checkbox' /></th>
                                <th width="15%" class="align_center">Tên</th>
                                <th width="10%" class="align_center">Điện thoại</th>
                                <th width="10%" class="align_center">Email</th>
                                <th width="10%" class="align_center">Website</th>
                                <th width="20%" class="align_center">Địa chỉ</th>
                                <th width="10%" class="align_center">Vĩ độ (Lat)</th>
                                <th width="10%" class="align_center">Kinh độ (Lng)</th>
                                <th width="5%" class="align_center">Trạng thái</th>
                                <th width="7.5%" class="align_center"></th>
                            </tr>
                        </thead>
                        <tbody id="tbl-content"></tbody>
                    </table>

                    <div class="row">
                        <div class="col-sm-5">
                            <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                                <select id="ddl-show-page">
                                    <option value="10" selected="selected">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                </select>
                                <span class="item-per-page">
                                    bản ghi/trang.
                                </span>
                                Tổng số bản ghi: <strong id="lbl-total-records"></strong>
                            </div>
                        </div><div class="col-sm-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                                <ul id="paginationUL"></ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}

    <script id="table-template" type="x-tmpl-mustache">
        <tr>
            <td class="align_center"><input type="checkbox" value="{{Id}}" class="checkboxGroups" /></td>
            <td class="align_center">{{Name}}</td>
            <td class="align_center">{{Phone}}</td>
            <td class="align_center">{{Email}}</td>
            <td class="align_center">{{Website}}</td>
            <td class="align_center">{{Address}}</td>
            <td class="align_center">{{Lat}}</td>
            <td class="align_center">{{Lng}}</td>
            <td class="align_center">{{{Status}}}</td>
            <td class="align_center">
                @if ((await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Update)).Succeeded)
                {
                    <a href="#" data-id="{{Id}}" class="btn  btn-xs btn-info btn-edit"><i class="fa fa-pencil-square-o"></i></a>
                }
                @if ((await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Delete)).Succeeded)
                {
                    <a href="#" data-id="{{Id}}" class="btn btn-xs  btn-danger btn-delete"><i class="fa fa-trash-o"></i></a>
                }
            </td>
        </tr>
    </script>
    <partial name="_AddEditModal.cshtml" />       