<table>
    <tr>
        <td>Họ tên</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>Lời nhắn</td>
        <td>@Model.Message</td>
    </tr>
</table>