
@{
    ViewData["Title"] = "AccessDeny";
}

<h2>KHÔNG ĐƯỢC QUYỀN TRUY CẬP</h2>

<div>Bạn không có quyền hạn truy cập vào chức năng này của hệ thống!</div>
<a class="btn btn-info" href="javascript:void(0);" onclick="window.history.go(-1);"><i class="fa fa-backward"></i>&nbsp;Trở lại</a>

